body {
  background-color: rgb(58, 0, 43);
  padding: 0;
  margin: 0;
  float: left;
}

canvas {
  margin: 3%;
  padding: 0;
  border: #fff ridge 10px;
  height: 70%;
  width: 70%;
}

input{
  margin: 0 3%;
  width: 70%;
  font-size: 200%;
}
