body {
  background-color: rgb(58, 0, 43);
  padding: 0;
  margin: 0;
  float: left;
  width: 100vw;
  text-align: center;
  justify-content: center;;
}

canvas {
  margin-top: 3%;
  padding: 0;
  border: #fff ridge 10px;
  height: 288px;
  width: 512px;
}

input {
  opacity: 0;
  margin: 0 3%;
  width: 70%;
  font-size: 200%;
}
